/* text style */
#가 {
  font-size: xx-small;
  color: #ff0000;
  text-align: start;
}
#나 {
  font-size: medium;
  color: steelblue;
  text-align: end;
}
#다 {
  font-size: xx-large;
  color: rgb(51, 255, 33);
  text-align: center;
}

#라의상위요소 {
  font-size: 20px;
}
#라 {
  /* 폰트 사이즈 설정 - em 단위 */
  font-size: 2em;
  color: rgba(255, 173, 237, 0.5);
  text-align: justify;
}
#마 {
  font-size: 16px;
  font-style: normal;

}
#바 {
  font-size: 16px;
  font-weight: bolder;
}
#사 {
  font-size: 16px;
  font-weight: 100;
}

#아 {
  text-align: justify;
}
