*{margin: 0; padding: 0;}


img { 
  width: 50%;
}
p{
  font-style: italic;
}
h1, p {
  background-color:yellowgreen;
}
#title{
  text-align: center;
}
.oddNumber {
  color: cornflowerblue;
}
#evenNumber{
  color: tomato;
}