div {
  border: 1px solid black;
  margin-bottom: 10px ;
}
.highlight {
  background-color: yellow;
  color: green;
}
#empahisis {
  color: red;
}

#empahisis, .highlight{
  font-style: italic;
}
p {
  color: blue;
}
